{% load static %}
<!DOCTYPE html>
{% if object.background_colour %}
<html lang="en" style="background: {{ object.background_colour }}">
{% else %}
<html lang="en" >
{% endif %}
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Email Collect" />
    <meta
            name="keywords"
            content="email collect emails collection collects"
    />

    {% if object.title %}
        <title>{{ object.title }}</title>
    {% else %}
        <title>Email Collect</title>
    {% endif %}
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    {% block extra_css %}
    {% endblock %}
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>

    {% if not request.is_eu_user %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-L0BPTJX4CY"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'G-L0BPTJX4CY');
        </script>
    {% endif %}
</head>
<body>
    {% block top %}
    {% endblock %}
    <div class="container">
        <div class="card">
            {% block content %}
            {% endblock %}
        </div>
    </div>
</body>
</html>