{% load static %}
<html lang="en" style="background: #{{ object.background_colour }}">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/email_collect.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>{{ object.title }}</h1>
            <h2>{{ object.sub_title }}</h2>
            <div class="text">
                <h3>{{ object.text_above_email|linebreaksbr }}</h3>
                <h3>{{ object.text_below_email|linebreaksbr }}</h3>
            </div>
        </div>
    </div>
</body>
</html>