{% load static %}
<html lang="en" style="background: {{ object.background_colour }}">
<head>
    <meta charset="UTF-8">
    <title>{{ object.title }}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon.ico' %}"/>
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <link rel="stylesheet" href="{% static 'css/email_collect.css' %}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h1>{{ object.title }}</h1>
            <h2>{{ object.sub_title }}</h2>
            <div class="text">
                <h3>{{ object.text_above_email|linebreaksbr }}</h3>
                <form action="{{ request.path }}" method="post">
                    {% csrf_token %}
                    <div class="email-submission--div">
                        <input type="email" name="email" maxlength="254" required id="id_email"
                               class="email-submission--input" placeholder="youremail@address.com">
                        <button type="submit" class="email-submission--button">Submit</button>
                    </div>
                </form>
                {% if messages %}
                    {% for message in messages %}
                        <p class="success-message">{{ message }}</p>
                    {% endfor %}
                {% endif %}
                <h3>{{ object.text_below_email|linebreaksbr }}</h3>
            </div>
        </div>
    </div>
</body>
</html>
