{% extends 'base.html' %}

{% block top %}
<div class="button--div">
    <a class="button" href="{% url 'admin:login' %}">Sign In</a>
    <a class="button" href="{% url 'sign-up' %}">Sign Up</a>
</div>
{% endblock %}

{% block content %}
<h1>Email Collect</h1>
<h2>Simply and easily collect emails from your customers or users</h2>
<h3>Only takes 3 steps and can be done in less than 5 minutes!</h3>
<div class="steps">
    <h3>1. Create an account.</h3>
    <h3>2. Set up your account.
        <a href="{% url 'guide' %}" target="_blank" rel="noopener noreferrer">
            Click here for a detailed step-by-step guide
        </a>
    </h3>
    <h3>
        3. Done!
        You now have a web page where your customers and users can leave you their email and
        you can see the emails by signing into your account
    </h3>
    <br>
    <span>For questions you can always email us at</span>
    <a href="mailto:emailcollectwebsite@gmail.com">emailcollectwebsite@gmail.com</a>
</div>
{% endblock %}
